03-Application/Sucive/Service References/FO_04/Ws04BConsultaDeuda.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="GeoTribUy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdlns="GeoTribUy" xmlns:tns1="GeoTribUy" name="Ws04BConsultaDeuda" targetNamespace="GeoTribUy" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="GeoTribUy">
      <xsd:complexType name="SDT_ColeccionCobranza">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="SDT_ColeccionCobranza.SDT_ColeccionCobranzaItem" type="tns1:SDT_ColeccionCobranza.SDT_ColeccionCobranzaItem" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SDT_ColeccionCobranza.SDT_ColeccionCobranzaItem">
        <xsd:all>
          <xsd:element name="Paga" type="xsd:string" />
          <xsd:element name="Permitido" type="xsd:string" />
          <xsd:element name="Anio" type="xsd:string" />
          <xsd:element name="Vencimiento" type="xsd:string" />
          <xsd:element name="CodigoConcepto" type="xsd:string" />
          <xsd:element name="Concepto" type="xsd:string" />
          <xsd:element name="Cuota" type="xsd:string" />
          <xsd:element name="Importe" type="xsd:string" />
          <xsd:element name="Linea" type="xsd:short" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SDT_ColeccionDetalle">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="SDT_ColeccionDetalle.SDT_ColeccionDetalleItem" type="tns1:SDT_ColeccionDetalle.SDT_ColeccionDetalleItem" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SDT_ColeccionDetalle.SDT_ColeccionDetalleItem">
        <xsd:all>
          <xsd:element name="Anio" type="xsd:string" />
          <xsd:element name="Vencimiento" type="xsd:string" />
          <xsd:element name="CodigoConcepto" type="xsd:string" />
          <xsd:element name="Concepto" type="xsd:string" />
          <xsd:element name="Cuota" type="xsd:string" />
          <xsd:element name="Importe" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SDT_ColeccionTotales">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="SDT_ColeccionTotales.SDT_ColeccionTotalesItem" type="tns1:SDT_ColeccionTotales.SDT_ColeccionTotalesItem" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SDT_ColeccionTotales.SDT_ColeccionTotalesItem">
        <xsd:all>
          <xsd:element name="DescripcionConcepto" type="xsd:string" />
          <xsd:element name="MontoConcepto" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SDT_ColeccionImpresionCabezal">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="SDT_ColeccionImpresionCabezal.SDT_ColeccionImpresionCabezalItem" type="tns1:SDT_ColeccionImpresionCabezal.SDT_ColeccionImpresionCabezalItem" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SDT_ColeccionImpresionCabezal.SDT_ColeccionImpresionCabezalItem">
        <xsd:all>
          <xsd:element name="MensajeCabezal" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SDT_ColeccionImpresionMensajes">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="SDT_ColeccionImpresionMensajes.SDT_ColeccionImpresionMensajesItem" type="tns1:SDT_ColeccionImpresionMensajes.SDT_ColeccionImpresionMensajesItem" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SDT_ColeccionImpresionMensajes.SDT_ColeccionImpresionMensajesItem">
        <xsd:all>
          <xsd:element name="MensajeFinal" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="Ws04BConsultaDeuda.Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Auxiliarcobro" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Sdtcoleccioncobranza" type="tns1:SDT_ColeccionCobranza" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Ws04BConsultaDeuda.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Sdtcolecciondetalle" type="tns1:SDT_ColeccionDetalle" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Sdtcolecciontotales" type="tns1:SDT_ColeccionTotales" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Sdtcoleccioncabezalimpresion" type="tns1:SDT_ColeccionImpresionCabezal" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Sdtcoleccionimpresionmensaje" type="tns1:SDT_ColeccionImpresionMensajes" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Numeroprefactura" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Montofinal" type="xsd:double" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigoretorno" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Mensajeretorno" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Ws04BConsultaDeuda.ExecuteSoapIn">
    <part name="parameters" element="tns1:Ws04BConsultaDeuda.Execute" />
  </message>
  <message name="Ws04BConsultaDeuda.ExecuteSoapOut">
    <part name="parameters" element="tns1:Ws04BConsultaDeuda.ExecuteResponse" />
  </message>
  <portType name="Ws04BConsultaDeudaSoapPort">
    <operation name="Execute">
      <input message="tns1:Ws04BConsultaDeuda.ExecuteSoapIn" />
      <output message="tns1:Ws04BConsultaDeuda.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="Ws04BConsultaDeudaSoapBinding" type="tns1:Ws04BConsultaDeudaSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="GeoTribUyaction/AWS04BCONSULTADEUDA.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Ws04BConsultaDeuda">
    <port name="Ws04BConsultaDeudaSoapPort" binding="tns1:Ws04BConsultaDeudaSoapBinding">
      <soap:address location="http://florida.sucive.gub.uy/cows/servlet/aws04bconsultadeuda" />
    </port>
  </service>
</definitions>