03-Application/Sucive/Service References/TA_05/Ws05Confirmacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="GeoTribUy" xmlns:wsdlns="GeoTribUy" name="Ws05Confirmacion" targetNamespace="GeoTribUy" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="GeoTribUy">
      <xsd:element name="Ws05Confirmacion.Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Numeroprefactura" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Sucursal" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Ws05Confirmacion.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Numerocobro" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigoretorno" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Mensajeretorno" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Ws05Confirmacion.ExecuteSoapIn">
    <part name="parameters" element="wsdlns:Ws05Confirmacion.Execute" />
  </message>
  <message name="Ws05Confirmacion.ExecuteSoapOut">
    <part name="parameters" element="wsdlns:Ws05Confirmacion.ExecuteResponse" />
  </message>
  <portType name="Ws05ConfirmacionSoapPort">
    <operation name="Execute">
      <input message="wsdlns:Ws05Confirmacion.ExecuteSoapIn" />
      <output message="wsdlns:Ws05Confirmacion.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="Ws05ConfirmacionSoapBinding" type="wsdlns:Ws05ConfirmacionSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="GeoTribUyaction/AWS05CONFIRMACION.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Ws05Confirmacion">
    <port name="Ws05ConfirmacionSoapPort" binding="wsdlns:Ws05ConfirmacionSoapBinding">
      <soap:address location="http://tacuarembo.sucive.gub.uy/cows/servlet/aws05confirmacion" />
    </port>
  </service>
</definitions>